.firstform {
    padding: 25px;
    display: block;
    border : 2px solid red;
    background-color:lightcyan;
    margin: 90px auto;
    width: 400px;
    height:800px;
    text-align: center;
}

.my{
    margin:20px auto;
    width:80%;
}

.mylink .mylink:hover {
    color:black;
}

